*.7z
*.app
*.bak
*.class
*.diff
*.dmg
*.err
*.exe
*.gz
*.iso
*.jar
*.log
*.patch
*.rar
*.rbuistate
*.swp
*.tar
*.tgz
*.vi
*.vim
*.zip
.DS_Store
.Spotlight-V100
.Trashes
._*
/battlenet-protocol-scanner.exe
/battlenet-protocol-scanner\ Libs/
/Debugbattlenet-protocol-scanner/
Desktop.ini
Thumbs.db
